body {
  font-family: "Quicksand";
}
.verdadeiro-falso {
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 40px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.8;
  /* background: #2196f3; */
  border: 0;
}
.verdadeiro-falso:hover {
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
details {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.254);
  padding: 10px;
  margin-bottom: 6px;
}

.multipla-escolha {
  padding: 5px;
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: black;
  text-indent: 0px;
  /* margin-left: 40px; */
}
.multipla-escolha:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.254);
  cursor: pointer;
}
.line-20 {
  height: 20px;
}

.line-30 {
  height: 30px;
}

.line-50 {
  height: 50px;
}

.br {
  border-radius: 8px;
}

.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.comment {
  background: #777;
  margin-top: 15px;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.questao-enunciado {
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-weight: 900;
  background: #3a1f3c !important;
  color: white !important;
  padding: 10px;
  font-size: 2rem;
}

.explicacao {
  font-variant: small-caps;
  font-style: italic;
  background: rgba(0, 0, 0, 0.154);
  font-weight: 900;
  display: none;
  text-align: center;
  padding: 5px;
  margin: 0px auto !important;
  width:200px;
}
.correcao-class{
  font-size: 1.7rem;
}
.tx-icon {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  text-align: center;
  color: #21a5d1;
  border-radius: 11.5px;
  font-size: 13px;
  line-height: 23px;
}
.tx-icon-check {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  border-radius: 11.5px;
  font-size: 13px;
  line-height: 23px;
  /* border: 1px solid red; */
}

.letra-enuc{
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 0px;
  transition: .15s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  color: #a36d3b;
  border: 1px solid #a36d3b;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  line-height: 30px;
}

textarea{
  border:1px solid #ccc !important;
  font-size:1.4rem !important;
}

#form-criar-questao label{
  font-size:1.6rem !important;
}