.swiper-container-featured-events {
    width: 100%;
    padding: 0 0 64px 0;
    overflow: inherit !important;
}

.event-location {
  overflow: hidden;
  max-height: 16px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #85858f;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.event-location.event-card {
  max-height: 40px;
  margin-right: 16px;
  margin-bottom: 0px;
  padding-left: 20px;
  float: none;
  background-image: url('../images/ic-location-event-card.svg');
  background-position: -5px -1px;
  background-size: 24px;
  background-repeat: no-repeat;
  line-height: 20px;
  text-decoration: none;
  overflow: hidden;
}

.event-location.venue-card {
  max-height: 24px;
  margin-bottom: 8px;
  float: none;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}

.more-venues-container {
  display: none;
}

.event-name {
  display: block;
  overflow: hidden;
  max-height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
}

.event-name.event-card {
  display: block;
  max-height: 48px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #000;
}

.event-card-slide {
  width: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.event-card-slide.x-small {
  width: 280px;
  padding-right: 8px;
  padding-left: 8px;
}

.event-image-proportion {
  width: 100%;
}

.event-image {
  position: relative;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-image: url('../images/banner-evento-modelo.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-image.placeholder {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #eee;
  background-image: none;
}

.event-image.placeholder {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: transparent;
}

.suggestion-card-slider {
  z-index: 2;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}

.event-card-placeholder-a {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #0097ff;
  text-align: center;
  text-decoration: none;
}

.event-card-placeholder {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  border: 1px dashed #d6d8db;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, .05);
  color: #000;
  text-decoration: none;
}

.event-card-date-month {
  float: left;
}

.event-card-date-range {
  width: 16px;
  height: 24px;
  margin-right: 2px;
  margin-left: 2px;
  float: left;
  background-image: url('../images/pointer-right.svg');
  background-position: 50% 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.event-date-day {
  margin-right: 4px;
  float: left;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.sympla-card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #000;
  text-decoration: none;
}

.sympla-card:hover {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 40px 44px -10px rgba(0, 0, 0, .1), 0 20px 52px -20px rgba(0, 0, 0, .3);
}
.sympla-card.local {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-width: 300px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 1px solid #cbcbcf;
  border-radius: 6px;
  background-color: #fff;
}

.sympla-card.local:hover {
  border-color: #eee;
}
.event-info-block {
  position: relative;
  z-index: 1;
  padding: 8px 16px 24px;
}
.event-info-block.venue-card-list-var {
  padding-right: 16px;
  padding-left: 16px;
}
.event-info-block.venue-card-list-var {
  padding-top: 8px;
  padding-bottom: 8px;
/*  float: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;*/
}
.event--image {
  position: relative;
  border-radius: 12px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #d6d8db;
}

.event-card-info {
  float: left;
}

.search-result-li {
  width: 33.32%;
  margin-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  float: left;
}

.search-result-li.venue {
/*  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;*/
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -16px;
  margin-bottom: 16px;
  margin-left: -16px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list.venue {
  margin-top: 8px;
/*  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;*/
}

.map-thumb {
  width: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #eee;
  background-image: url("https://assets.website-files.com/5c40f20c6f0a00dc8c90cd12/5ca7cc334cf9a1a39c371325_ic-location-event-card.svg");
  background-position: 50% 8px;
  background-size: 32px;
  background-repeat: no-repeat;
}

.search-result-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -16px;
  margin-bottom: 16px;
  margin-left: -16px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.event-card-list-var {
  position: relative;
}

.event-card-data-block {
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
}

.event-card-plataform-icon {
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  float: left;
  border-radius: 16px;
  background-color: #cbcbcf;
}

.event-card-plataform-icon-ttrs {
  background-color: #000;
}

.event-plataform {
  position: relative;
  z-index: 4;
  margin-right: 16px;
  padding-right: 16px;
  float: left;
  border: 1px none #d6d8db;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, .08);
  color: #494b57;
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
}

.event--date {
  position: relative;
  display: inline-block;
  border-width: 1px;
  border-color: #d6d8db;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #0097ff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: none;
}

.event-card-day {
  float: left;
  color: #0097ff;
  letter-spacing: 0.2px;
}

.event-card-hour {
  float: left;
}

.event-card-hour-spacer {
  width: 8px;
  height: 24px;
  margin-right: 4px;
  float: left;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.note-text {
  color: #000;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 991px) {
  .sympla-card {
    border-radius: 0px;
  }
  .sympla-card:hover {
    background-color: transparent;
    box-shadow: none;
  }
  .search-result-li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .event-location.event-card {
    padding-left: 0px;
    background-image: none;
  }
  .event-location.venue-card {
    padding-left: 0px;
    background-image: none;
  }
  .event-name {
    margin-top: 0px;
  }
  .event-name.event-card {
    margin-top: 0px;
    font-weight: 700;
  }
  .event-card-slide.x-small {
    width: 45vw;
  }
  .event-card-placeholder:hover {
    box-shadow: none;
    -webkit-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .event-date-day {
    color: #0097ff;
    font-size: 14px;
    font-weight: 600;
  }
  .sympla-card {
    display: inline-block;
    box-shadow: none;
  }
  .sympla-card:hover {
    box-shadow: none;
    -webkit-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .sympla-card.local {
    min-width: 0px;
  }
  .event-info-block {
    padding-right: 4px;
    padding-left: 4px;
  }
  .event-info-block.event-card-list-var {
    padding-top: 0px;
    padding-left: 24px;
  }
  .event-info-block.venue-card-list-var {
    padding-right: 16px;
    padding-left: 16px;
  }
  .event--image {
    border-radius: 8px;
  }
  .search-result-li {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
  .search-result-list {
    margin-bottom: 8px;
  }
  .event-card-list-var {
    width: 50%;
    float: left;
  }
  .event-card-data-block {
    margin-top: -2px;
    margin-bottom: -6px;
    border-bottom-style: none;
  }
  .event-plataform {
    margin-top: 4px;
    margin-bottom: 0px;
    float: none;
    border-radius: 0px 0px 8px 8px;
    background-color: transparent;
    font-size: 10px;
    font-weight: 700;
  }
  .event-card-day {
    font-size: 12px;
    text-transform: uppercase;
  }
  .map-thumb {
    background-position: 50% 4px;
  }
  .sympla-card.local {
    min-width: 0px;
  }
  .event-info-block.venue-card-list-var {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 479px) {
  .event-location {
    font-size: 11px;
  }
  .event-location.event-card {
    margin-bottom: 2px;
    line-height: 16px;
    max-height: none;
  }
  .event-location.venue-card {
    margin-bottom: 0px;
  }
  .event-name {
    font-size: 14px;
    line-height: 22px;
  }
  .event-card-slide {
    padding-right: 12px;
    padding-left: 12px;
  }
  .event-card-slide.x-small {
    width: 80vw;
  }
  .event-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .event-card-placeholder {
    border-radius: 12px;
  }
  .event-card-date-range {
    margin-right: 0px;
    margin-left: 0px;
  }
  .event-date-day {
    margin-right: 2px;
    font-size: 12px;
  }
  .event-info-block {
    padding: 8px 2px;
  }
  .event-info-block.event-card-list-var {
    width: 60%;
    padding-right: 0px;
    padding-left: 16px;
  }
  .event--image {
    border-radius: 6px;
  }
  .search-result-li {
    height: auto;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
  }
  .search-result-list {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .event-card-list-var {
    width: 40%;
  }
  .event-card-data-block {
    min-height: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .event-plataform {
    margin-bottom: 0px;
    float: none;
    border-radius: 0px 0px 6px 6px;
    font-size: 9px;
  }
  .event--date {
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    float: none;
    font-size: 12px;
  }
}
